body, html {
  overflow: hidden;
  font-size: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &.animated {
    text-decoration: none;
    position: relative;
    color: $text-secondary-color;
    &:before {
      content: '';
      height: 2px;
      bottom: -4px;
      left: 0;
      width: 100%;
      background: $text-primary-color;
      position: absolute;
      transform: scaleX(0);
      @include transition(transform linear .25s);
    }
    &:hover {
      color: $text-primary-color;
      &:before {
        transform: scaleX(1);
      }
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#viewport {
  position: relative;
  width: 100%;
  height: 100%;
  & .view {
    @include transition(opacity ease-out .75s);
    position: absolute;
    top: 0;
    bottom: $footer-height;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    visibility: hidden;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    &.current {
      visibility: visible;
      opacity: 1;
    }
  }
}