#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  background: #fff;
  box-shadow: 0 -3px 3px lighten($list-menu-text-color, 60%);
  & ul {
    height: 100%;
    display: flex;
    & li {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      & i {
        font-size: 32px;
        color: lighten($list-menu-text-color, 60%);
        @include transition(color linear .5s, transform linear .25s);
      }
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 6px;
        left: 0;
        bottom: 0;
        position: absolute;
        background: $highlight-color;
        transform: scaleX(0);
        @include transition(transform linear .25s);
      }
      &:hover {
        & i {
          color: $highlight-color;
          transform: scale(1.25);
        }
      }
      &.active {
        & i {
          color: $highlight-color;
        }
        &:before {
          transform: scaleX(1);
        }
      }
    }

  }

}