// Thin -> 100
@font-face {
  font-family: 'Gotham-Thin';
  font-style: normal;
  font-weight: 100;
  src: local('Gotham Thin'), local('Gotham Thin'), url(../fonts/Gotham-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 100;
  src: local('Gotham Thin Italic'), local('Gotham Thin Italic'), url(../fonts/Gotham-ThinItalic.otf) format('opentype');
}

// XLight -> 200
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 200;
  src: local('Gotham Extra Light'), local('Gotham Extra Light'), url(../fonts/Gotham-XLight.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 200;
  src: local('Gotham Extra Light Italic'), local('Gotham Extra Light Italic'), url(../fonts/Gotham-XLightItalic.otf) format('opentype');
}

// Light -> 300
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: local('Gotham Light'), local('Gotham Light'), url(../fonts/Gotham-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 300;
  src: local('Gotham Light Italic'), local('Gotham Light Italic'), url(../fonts/Gotham-LightItalic.otf) format('opentype');
}


// Book -> 400
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: local('Gotham Book'), local('Gotham Book'), url(../fonts/Gotham-Book.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 400;
  src: local('Gotham Book Italic'), local('Gotham Book Italic'), url(../fonts/Gotham-BookItalic.otf) format('opentype');
}

// Medium -> 600
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 600;
  src: local('Gotham Medium'), local('Gotham Medium'), url(../fonts/Gotham-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 600;
  src: local('Gotham Medium Italic'), local('Gotham Medium Italic'), url(../fonts/Gotham-MediumItalic.otf) format('opentype');
}

// Bold -> 700
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham Bold'), local('Gotham Bold'), url(../fonts/Gotham-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 700;
  src: local('Gotham Bold Italic'), local('Gotham Bold Italic'), url(../fonts/Gotham-BoldItalic.otf) format('opentype');
}

// Black -> 800
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 800;
  src: local('Gotham Black'), local('Gotham Black'), url(../fonts/Gotham-Black.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 800;
  src: local('Gotham Black Italic'), local('Gotham Black Italic'), url(../fonts/Gotham-BlackItalic.otf) format('opentype');
}

// Ultra -> 900
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 900;
  src: local('Gotham Ultra'), local('Gotham Ultra'), url(../fonts/Gotham-Ultra.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 900;
  src: local('Gotham Ultra Italic'), local('Gotham Ultra Italic'), url(../fonts/Gotham-UltraItalic.otf) format('opentype');
}
