ul.list-menu {
  & li {
    background: $list-menu-background;
    border-bottom: 1px solid lighten($list-menu-text-color, 60%);
    padding: $list-menu-padding;
    cursor: pointer;
    position: relative;
    &:after {
      content: "\f054";
      position: absolute;
      color: lighten($list-menu-text-color, 60%);
      font-family: FontAwesome;
      top: 50%;
      right: $list-menu-padding;
      transform: translateY(-50%);
    }
    &:hover {
      background: $list-menu-background-hover;
      &:after, a, span {
        color: $list-menu-text-color-hover;
      }
    }
    & a {
      color: $list-menu-text-color;
      & span {
        position: absolute;
        top: 50%;
        right: 45px;
        transform: translateY(-50%);
        color: #4B90E2;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
      }
    }
    & i {
      @include border-radius();
      background-color: $highlight-color;
      color: $text-primary-color;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin-right: 10px;
    }
  }
}