@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin cover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

@mixin blur($amount) {
  -webkit-filter: blur($amount);
  -moz-filter: blur($amount);
  -o-filter: blur($amount);
  -ms-filter: blur($amount);
  filter: blur($amount);
}

@mixin border-radius($amount: 50%) {
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  border-radius: $amount;
}

@mixin horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin vertical-margin($amount) {
  margin-top: $amount;
  margin-bottom: $amount;
}

@mixin vertical-padding($amount) {
  padding-top: $amount;
  padding-bottom: $amount;
}