$footer-height: 75px;
$button-height: 65px;

$welcome-margin: 100px;
$welcome-margin-xs: 25px;
$welcome-margin-sm: 50px;

$text-primary-color: #fff;
$text-secondary-color: #acb8c2;

$highlight-color: rgb(255, 87, 34);

$avatar-size: 60px;

$profile-header-height: 125px;

$list-menu-icon-size: 50px;
$list-menu-background: #fff;
$list-menu-background-hover: darken($text-primary-color, 30%);
$list-menu-text-color: darken($text-primary-color, 80%);
$list-menu-text-color-hover: $text-primary-color;
$list-menu-padding: 15px;

$max-width-xs: 767px;
$min-width-sm: 768px;
$max-width-sm: 991px;
$min-width-md: 992px;
$max-width-md: 1199px;
$min-width-lg: 1200px;