#login-view {
  & .background {
    @include blur(3px);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url(../img/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
    & .overlay {
      @include cover();
      background: rgba(67, 89, 111, .85);
    }
  }
  & .content {
    @include cover();
    padding: 0 25px;
    & .welcome {
      @include horizontal-center();
      @include vertical-margin($welcome-margin);
      color: $text-primary-color;
      text-align: center;
      max-width: 400px;
      @media (max-width: $max-width-xs) {
        @include vertical-margin($welcome-margin-xs);
      }
      @media (min-width: $min-width-sm) and (max-width: $max-width-sm) {
        @include vertical-margin($welcome-margin-sm);
      }
      & h1, h2, h3 {
        font-family: Gotham-Thin;
        margin-bottom: 25px;
      }
      & h1 {
        font-size: 40px;
        & span {
          display: block;
          font-family: Gotham;
          font-size: 1.1em;
          letter-spacing: 5px;
        }
      }
      & h3 {
        color: $text-secondary-color;
        line-height: 1.5em;
        & strong {
          color: $text-primary-color;
        }
      }
    }
    & form {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      & div {
        margin-bottom: 15px;
        text-align: center;
        & input, button {
          width: 100%;
        }
        & input {
          @include border-radius(6px);
          padding: 20px;
          border: 1px solid #ccc;
          height: $button-height;
          color: darken($text-secondary-color, 50%);
        }
        & button {
          @include border-radius(6px);
          @include transition(background linear .25s);
          height: $button-height;
          text-transform: uppercase;
          background: $highlight-color;
          color: $text-primary-color;
          border: 0;
          cursor: pointer;
          &:hover {
            background: darken($highlight-color, 20%);
          }
        }
      }
      & .password {
        @include vertical-padding(15px);
        & a {
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }
  }
}