#profile-view {
  background: #F3F3F3;
  & header {
    height: $profile-header-height;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    & .background {
      @include cover();
      @include blur(3px);
      background-image: url(../img/background.png);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
    & .overlay {
      @include cover();
      background: rgba(67, 89, 111, .85);
    }
    & .content {
      display: flex;
      align-items: center;
      z-index: 10;
      & .avatar {
        @include border-radius();
        width: $avatar-size;
        height: $avatar-size;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
        padding: 2px;
        & span {
          @include border-radius();
          width: 100%;
          height: 100%;
          display: block;
          background-image: url(../img/avatar.jpg);
          background-size: cover;
          background-position: center;
        }
      }
      & .information {
        color: $text-primary-color;
        margin-left: 15px;
        font-size: 18px;
        & span {
          color: $text-secondary-color;
          display: block;
          font-size: .85em;
          margin-top: 5px;
        }
      }
    }
  }

}